<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/imgs/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This side provides forecast for an address</p>
            <img class="portrait-img" src="/imgs/robot.png">
        </div>

        {{>footer}}
    </body>
</html>